Video Automation Workflow with Manim.json
{
  "name": "Video Automation Workflow with Manim",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"title\": {\n            \"type\": \"string\"\n        },\n        \"description\": {\n            \"type\": \"string\"\n        },\n        \"thumbnailPrompt\": {\n            \"type\": \"string\"\n        }\n    },\n    \"required\": [\"title\", \"description\", \"thumbnailPrompt\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3376,
        944
      ],
      "id": "1c92c677-f4e5-45f0-b168-6066bf2eecf6",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "randomsci",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Automation_For_Love_Niche",
          "mode": "list",
          "cachedResultName": "Automation_For_Love_Niche",
          "cachedResultUrl": "https://github.com/RandomSci/Automation_For_Love_Niche"
        },
        "filePath": "Audio_Voice/vaults_narration.mp3",
        "binaryData": true,
        "commitMessage": "new_love.mp3",
        "additionalParameters": {
          "author": {
            "name": "randomsci",
            "email": "your-email@example.com"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        4704,
        960
      ],
      "id": "e09e951d-51c6-430b-8602-0b0a84cfe975",
      "name": "Edit a file",
      "webhookId": "346b9c7f-650e-4dc2-88c8-808e23a0c638",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "Inxqxgp5toCpBO5k",
          "name": "GitHub account | randomsci"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.135:8000/generate",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5152,
        848
      ],
      "id": "05b85ae1-e654-4552-8d6d-407de7e29686",
      "name": "Trigger Video Generation",
      "notes": "railway link to generate: \n\nhttps://automationforloveniche-production.up.railway.app/generate"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5376,
        848
      ],
      "id": "bd3a3d16-d09b-4d72-8114-1fae7415c9c9",
      "name": "Wait 60 seconds",
      "webhookId": "b0e608a4-4a14-42a1-9829-4dd420fd05c3"
    },
    {
      "parameters": {
        "url": "http://192.168.1.135:8000/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        848
      ],
      "id": "1f9cfb92-0649-4fe0-a21b-d0411a838aab",
      "name": "Check Status",
      "notes": "Railway Check status: \nhttps://automationforloveniche-production.up.railway.app/status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5824,
        768
      ],
      "id": "3996d0a8-8d24-44a5-9f0e-8acbdb06ce2e",
      "name": "Is Complete?"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6048,
        944
      ],
      "id": "2c6c0dd5-e270-418d-a6f2-3938043608ff",
      "name": "Wait & Retry",
      "webhookId": "5cc1f2aa-6d1e-4a62-ae02-dc6abdf76c11"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4928,
        848
      ],
      "id": "a886f1a7-1acd-4f22-afbb-12b3a5386059",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2496,
        1072
      ],
      "id": "47c079eb-356a-45ea-8c40-2b3c5b414e27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kVy04pWk6VitOjWI",
          "name": "OpenAi account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3232,
        944
      ],
      "id": "43d418a2-3be3-4254-95bf-753ccbccea75",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "kVy04pWk6VitOjWI",
          "name": "OpenAi account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $('Code in JavaScript').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a finance narrator writing for YouTube. You sound like a knowledgeable friend who has watched people make the same money mistakes for years. You write the way good finance YouTubers talk — direct, specific, a little impatient with excuses, never preachy. Each paragraph teaches one thing completely: what it is, why it matters, what goes wrong, and what to do. You never pad. You never motivate. You just explain clearly and move on. In the final third of the script, maintain the same direct tone as the opening — do not soften, do not summarize emotionally, do not use phrases like peace of mind, empowerment, or can't be overstated. Finish the way you started: with a concrete point, then stop. You are writing between two thousand and three thousand words. No more than three thousand. No exceptions.\n\nOUTPUT FORMAT: You must respond with ONLY a valid JSON object in this exact structure, nothing else before or after it:\n{\"scene\": \"your full narration text here\"}\n\nThe entire narration goes inside the scene value as a single string. Use \\n for paragraph breaks. No markdown outside the JSON. No explanation. Just the JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2432,
        848
      ],
      "id": "0c4db99e-a1ac-4c97-8d8e-03a077cf3806",
      "name": "AI Agent - Video Prompter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript1').item.json.scene }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in creating high-performing YouTube content for a personal finance education channel targeting people who want straight answers about money, not motivation.\n\nYour task is to generate three outputs based on the user input, which is a finance narration script.\n\nYou must deeply understand the script first before writing anything. Identify the specific financial trap, uncomfortable truth, number, dollar amount, behavior, or consequence that the script is mainly about. Do not make generic finance content.\n\nOutput must be valid JSON with exactly these keys:\n\n\"title\"\n\"description\"\n\"thumbnailPrompt\"\n\nDo not include extra text outside the JSON.\n\nTITLE RULES:\nCreate a short, punchy YouTube video title optimized for clicks and search.\n\nThe title must:\n\n* Be maximum 60 characters\n* Reflect the specific concept in the script\n* Use a specific number, dollar amount, payment term, cost, or uncomfortable truth when available\n* Sound direct, clear, and slightly uncomfortable\n* Avoid vague motivational finance language\n* Avoid fake curiosity or exaggerated clickbait\n\nStrong title patterns:\n\"Why You Still Feel Broke After Payday\"\n\"The Math Behind Never Getting Ahead\"\n\"What Your Paycheck Actually Costs You\"\n\"The $399 Payment Keeping You Broke\"\n\"Why Low Monthly Payments Are a Trap\"\n\"The Debt Math Nobody Checks\"\n\nDESCRIPTION RULES:\nWrite a YouTube video description in 2 to 3 sentences max.\n\nThe description must:\n\n* Start by stating the core problem the video solves\n* Explain what the viewer will learn\n* End with a direct question inviting a comment about their own situation\n* Be plain, clear, and grounded\n* Avoid hype\n* Avoid \"in this video I will\"\n* Avoid emojis\n\nTHUMBNAIL PROMPT RULES:\nWrite a high-CTR thumbnail image prompt for an AI image generator.\n\nThe thumbnail must be built around the script's dominant emotional angle:\n\n* warning, danger, debt, regret, trap, hidden cost, bad decision:\n  Use deep red, black, silver, harsh shadows, cold hard light, danger glow.\n\n* growth, opportunity, smart investing, compounding, upside:\n  Use dark green, black, gold, warm glow, premium lighting.\n\n* neutral, surprising math, comparison, realization:\n  Use near-black, gold or white accent light, clean contrast.\n\nThe thumbnail must:\n\n* Use one huge visible text phrase with 2 to 4 words maximum\n* The visible text must be the main hook from the script\n* Use one supporting visual object that makes the concept instantly clear\n* Be understandable in under 1 second\n* Be dramatic, premium, and high contrast\n* Be made for YouTube CTR\n* Avoid clutter\n* Avoid small text\n* Avoid paragraphs\n* Avoid charts unless the whole script is specifically about a chart or graph\n* Avoid people and faces unless the script specifically needs a human emotion\n* Avoid generic money piles unless the script is about cash itself\n\nThe thumbnailPrompt must describe what the final image should show as a physical scene, but it may include the exact visible thumbnail text.\n\nGood supporting objects depending on the script:\n\n* Debt trap: chained wallet, cracked credit card, loan contract, car key, payment tag, broken chain, overdue bill\n* Monthly payment trap: glowing \"$399/MO\" sign, wallet wrapped in chains, red warning light\n* Paycheck problem: paycheck being sliced, empty wallet, bills pulling money away\n* Compound growth: glowing number, rising asset, green/gold light\n* Housing or car debt: house key, car key, contract, payment slip\n* Bad spending: receipt pile, shopping bag, credit card, draining wallet\n\nThe thumbnailPrompt must include:\n\n* Exact visible text in quotes\n* Background color and lighting\n* The hero object\n* The emotional mood\n* A clear instruction that there are no people, no faces, no extra labels, and no small text\n\nThumbnail prompt style examples:\n\"A dark red studio scene with a chained black wallet on the left and a glowing green '$399/MO' sign above it. Huge cracked metallic text reads 'LOW PAYMENT TRAP' in the center, lit by harsh red backlight. No people, no faces, no extra labels, no small text.\"\n\n\"A near-black studio scene with a single torn paycheck under cold white light. Huge bold text reads 'STILL BROKE' above it, with bills pulling money away into darkness. No people, no faces, no extra labels, no small text.\"\n\n\"A dark green studio scene with a glowing gold number '$100K' standing on a black floor, lit by warm gold light from behind. Huge clean text reads 'COMPOUNDING WINS'. No people, no faces, no extra labels, no small text.\"\n\nJSON RULES:\nReturn only valid JSON.\nDo not use markdown.\nDo not wrap the JSON in code fences.\nEscape quotation marks properly inside string values.\nDo not include trailing commas.\nThe title, description, and thumbnailPrompt must all match the same specific script concept.\n\nNEVER USE THESE WORDS:\n\"game-changer\"\n\"secret\"\n\"hack\"\n\"mind-blowing\"\n\"you won't believe\"\n\"peace of mind\"\n\"financial freedom\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3232,
        720
      ],
      "id": "1fb598fb-ae55-46d8-afd1-2b1134569968",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab12cd34-56ef-789a-bcde-f01234567890",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ed89dcde-32bb-444d-b8ff-710e27e12a7a",
              "name": "description",
              "value": "={{ $json.output.description }}",
              "type": "string"
            },
            {
              "id": "ef90ab12-34cd-ef56-7890-abcdef012345",
              "name": "image_prompt",
              "value": "={{ $json.output.thumbnailPrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        720
      ],
      "id": "f16e81d6-0f39-49bc-856b-98f75b987304",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4704,
        720
      ],
      "id": "6145bdbd-8339-4706-9b47-021b90326285",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://api.atlascloud.ai/api/v1/model/prediction/{{ $('Generate an image1').item.json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        640
      ],
      "id": "09b89061-a071-4792-bdde-adaec2d708e5",
      "name": "HTTP Request - Get Image",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/api/v1/model/generateImage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\":\"openai/gpt-image-2/text-to-image\",\n  \"prompt\":\"{{ $json.image_prompt }}\",\n  \"size\":\"1280x720\",\n  \"quality\":\"medium\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        720
      ],
      "id": "d4fe1cae-ba55-4909-96e2-e02c7d25ffe5",
      "name": "Generate an image1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f42b614-0873-4c9c-8378-c5d3a68b8865",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4480,
        720
      ],
      "id": "6a5cc5c9-027d-4fcc-a852-0b65ddd86c18",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4032,
        720
      ],
      "id": "6eb2cee7-144a-4156-a9ee-c7dee344a39f",
      "name": "Wait 30 sec",
      "webhookId": "e170b263-7399-4560-a9af-d6eeb819682b"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1536,
        656
      ],
      "id": "12150e80-feb9-4886-aef0-1a3e1b052a5b",
      "name": "For Financial Course"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nconst pending = rows.filter(r =>\n  String(r.status || \"\").toLowerCase().trim() === \"pending\"\n);\n\nif (pending.length === 0) {\n  throw new Error(\"No pending course topics in the sheet -- add more rows or this run has nothing to do.\");\n}\n\npending.sort((a, b) => {\n  const courseCompare = String(a.course_name || \"\").localeCompare(String(b.course_name || \"\"));\n  if (courseCompare !== 0) return courseCompare;\n  return Number(a.sequence_number || 0) - Number(b.sequence_number || 0);\n});\n\nconst next = pending[0];\n\nfunction numberToWords(num) {\n  num = Number(num);\n  if (!Number.isFinite(num)) return \"\";\n  if (num === 0) return \"zero\";\n  if (num < 0) return \"negative \" + numberToWords(Math.abs(num));\n\n  const ones = [\"\",\"one\",\"two\",\"three\",\"four\",\"five\",\"six\",\"seven\",\"eight\",\"nine\",\"ten\",\"eleven\",\"twelve\",\"thirteen\",\"fourteen\",\"fifteen\",\"sixteen\",\"seventeen\",\"eighteen\",\"nineteen\"];\n  const tens = [\"\",\"\",\"twenty\",\"thirty\",\"forty\",\"fifty\",\"sixty\",\"seventy\",\"eighty\",\"ninety\"];\n\n  function underThousand(n) {\n    let words = [];\n    if (n >= 100) { words.push(ones[Math.floor(n / 100)]); words.push(\"hundred\"); n %= 100; }\n    if (n >= 20) { words.push(tens[Math.floor(n / 10)]); n %= 10; }\n    if (n > 0) words.push(ones[n]);\n    return words.join(\" \");\n  }\n\n  const scales = [\n    { value: 1000000000, name: \"billion\" },\n    { value: 1000000, name: \"million\" },\n    { value: 1000, name: \"thousand\" }\n  ];\n\n  let words = [];\n  for (const scale of scales) {\n    const count = Math.floor(num / scale.value);\n    if (count > 0) { words.push(numberToWords(count)); words.push(scale.name); num %= scale.value; }\n  }\n  if (num > 0) words.push(underThousand(num));\n  return words.join(\" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction decimalToWords(rawNumber) {\n  const clean = String(rawNumber).replace(/,/g, \"\").trim();\n  if (!clean.includes(\".\")) return numberToWords(Number(clean));\n\n  const digitWords = {\"0\":\"zero\",\"1\":\"one\",\"2\":\"two\",\"3\":\"three\",\"4\":\"four\",\"5\":\"five\",\"6\":\"six\",\"7\":\"seven\",\"8\":\"eight\",\"9\":\"nine\"};\n  const [wholeRaw, decimalRaw] = clean.split(\".\");\n  const wholeWords = numberToWords(Number(wholeRaw || \"0\"));\n  const decimalWords = decimalRaw.split(\"\").map(d => digitWords[d] || \"\").filter(Boolean).join(\" \");\n  return `${wholeWords} point ${decimalWords}`.trim();\n}\n\nfunction replaceNumbersInText(text) {\n  return String(text || \"\").replace(/\\$?\\d[\\d,]*(\\.\\d+)?%?/g, match => {\n    const hasDollar = match.includes(\"$\");\n    const hasPercent = match.includes(\"%\");\n    const clean = match.replace(/[$,%]/g, \"\");\n    let words = decimalToWords(clean);\n    if (hasDollar) words += \" dollars\";\n    if (hasPercent) words += \" percent\";\n    return words.trim();\n  });\n}\n\nfunction normalizeFinanceSpeechText(text) {\n  let value = String(text || \"\");\n  value = value.replace(/\\b401\\s*\\(?k\\)?(?![a-z0-9])/gi, \"four oh one kay\");\n  value = value.replace(/\\b50\\s*\\/\\s*30\\s*\\/\\s*20\\b/g, \"fifty thirty twenty\");\n  value = value.replace(/\\b(\\d+)\\s*[-–—]\\s*(\\d+)\\b/g, (_, start, end) => `${numberToWords(start)} to ${numberToWords(end)}`);\n  return replaceNumbersInText(value);\n}\n\nconst courseName = normalizeFinanceSpeechText(next.course_name);\nconst topicTitle = normalizeFinanceSpeechText(next.topic_title);\nconst sequenceWords = numberToWords(next.sequence_number);\n\nconst sameCourseRows = rows\n  .filter(r => String(r.course_name || \"\").trim() === String(next.course_name || \"\").trim())\n  .sort((a, b) => Number(a.sequence_number || 0) - Number(b.sequence_number || 0));\n\nconst currentCourseIndex = sameCourseRows.findIndex(r =>\n  String(r.row_number || \"\") === String(next.row_number || \"\") ||\n  Number(r.sequence_number || 0) === Number(next.sequence_number || 0)\n);\n\nconst followingTopic = currentCourseIndex >= 0 ? sameCourseRows[currentCourseIndex + 1] : null;\nconst nextTopicTitle = followingTopic ? normalizeFinanceSpeechText(followingTopic.topic_title) : \"\";\n\nconst ctaInstruction = nextTopicTitle\n  ? `Close with a single sentence that makes the next lesson feel like the unavoidable next step. The next lesson is \"${nextTopicTitle}\". Name it directly and make it sound useful, not like a course announcement.`\n  : `Close with a single sentence inviting the listener to continue the course. Do not invent a next topic.`;\n\nconst video_prompt = `\nWrite a complete spoken finance narration for the following topic.\n\nCourse: \"${courseName}\"\nLesson: entry ${sequenceWords}, \"${topicTitle}\"\n\nOutput only the spoken narration. No markdown, no bullets, no headings, no symbols, no digits.\n\nEvery number must be written as spoken words. Every dollar amount, percentage, timeframe, and figure must be written exactly as a human would say it aloud.\n\n==============================\nLENGTH\n==============================\nWrite between one thousand five hundred and one thousand 800 hundred words maximum.\nDo not exceed two thousand words under any circumstances.\nEach paragraph must make one clear point with at least three sentences.\n\n==============================\nHOW TO OPEN\n==============================\n\nThe opening four sentences must follow this exact pattern.\n\nSentence one: a cold statement of a real financial consequence that happens to people who ignore this topic. State it as a fact, not a question, not a setup. Make it specific enough that someone who has experienced it would recognize it instantly.\n\nGood examples of sentence one:\n\"Running out of money three days before payday is not a cash flow problem, it is a savings problem most people refuse to name.\"\n\"The reason debt keeps coming back for people who pay it off is not bad luck, it is the absence of a buffer between income and emergencies.\"\n\"Losing a job with no savings does not give you time to think, it gives you about eleven days before the first bill goes unpaid.\"\n\nSentence two: name the exact behavior or assumption that causes the problem in sentence one. Be specific about what people do wrong, not vague.\n\nSentence three: name what is actually happening financially because of that behavior, in concrete terms.\n\nSentence four: open a tension loop by describing a situation the viewer can picture themselves in, where the problem from sentence one is quietly building before they notice it.\n\nAfter sentence four, transition into teaching the concept clearly without announcing that you are doing so.\n\n==============================\nHOW TO TEACH\n==============================\n\nTeach the concept directly after the opening four sentences.\n\nUse one real-life example if it makes the concept clearer. One is enough.\n\nShow the most common beginner mistake with this topic.\n\nExplain what the mistake costs in practical terms, not emotional terms.\n\nGive a correction. Make it specific and actionable.\n\nConnect this topic to the next financial decision the viewer will face.\n\nVary the approach paragraph by paragraph. Some paragraphs explain. Some show consequences. Some name a mistake. Some give a correction. Some connect to a broader pattern.\n\n==============================\nNUMBER PACING\n==============================\n\nUse spoken figures only when they make a point more concrete.\nMost lessons need no more than six figures total.\nAfter any paragraph containing a figure, write at least one paragraph with no figure before the next one.\nNever put two figures in the same paragraph.\n\n==============================\nHOW TO CLOSE\n==============================\n\nThe second to last paragraph summarizes the single most important shift in thinking this lesson creates. No recap of figures. One clear takeaway about behavior or understanding.\n\n${ctaInstruction}\n\n==============================\nSTYLE\n==============================\n\nWrite the way a sharp person explains something clearly to a friend who made a financial mistake. Direct. Concrete. No theatrics. No filler phrases. No repeated sentence structure. Vary the rhythm. Some sentences short. Some longer when the idea needs it.\n`.trim();\n\nreturn [\n  {\n    json: {\n      chatInput: video_prompt,\n      course_name: next.course_name,\n      sequence_number: next.sequence_number,\n      topic_title: next.topic_title,\n      row_number: next.row_number,\n      next_topic_title: followingTopic ? followingTopic.topic_title : \"\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        656
      ],
      "id": "2b0dfde5-2f23-46ae-9235-60be33f6261d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs",
          "mode": "list",
          "cachedResultName": "Financial Reality Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        656
      ],
      "id": "9feb4aa6-3688-4c6a-b0d8-c234d385abf4",
      "name": "Financial Reality Check Course",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jl5qgNTdM9DGXfgZ",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs",
          "mode": "list",
          "cachedResultName": "Financial Reality Check Course",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ynOW2BHEiH-y8RdjmxG3i8UCiKj8YWS5M2Px9GHsTTs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_title": "={{ $json.topic_title }}",
            "status": "done"
          },
          "matchingColumns": [
            "topic_title"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "course_name",
              "displayName": "course_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sequence_number",
              "displayName": "sequence_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "topic_title",
              "displayName": "topic_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        656
      ],
      "id": "82a50af0-8da5-4f81-bef0-448ab9557ae8",
      "name": "Financial Reality Check Course Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jl5qgNTdM9DGXfgZ",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "xKhbyU7E3bC6T89Kn26c",
          "mode": "id"
        },
        "text": "={{ $json.scene }}",
        "additionalOptions": {
          "voiceSettings": "{\n  \"stability\": 1,\n  \"similarity_boost\": 0.8,\n  \"style\": 0,\n  \"use_speaker_boost\": false,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        3008,
        848
      ],
      "id": "2b2ebf12-2928-4c1e-b291-78232e16269e",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "o5M9oX8A5ef1CvyP",
          "name": "ElevenLabs account | Jim"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst ANGLES = [\n  \"the biggest mistakes people make\",\n  \"the smartest moves wealthy people make that nobody talks about\",\n  \"the most counterintuitive truths\",\n  \"the most dangerous myths everyone believes\",\n  \"the most overlooked opportunities\",\n  \"the warning signs people ignore until it's too late\",\n  \"the simplest habits that compound into massive results\",\n  \"the hidden costs nobody calculates\",\n];\nconst SUBJECTS = [\n  \"personal savings and emergency funds\",\n  \"investing in the stock market\",\n  \"retirement accounts and compound interest\",\n  \"credit cards and debt\",\n  \"real estate and homeownership\",\n  \"side income and passive income streams\",\n  \"taxes and tax strategy\",\n  \"budgeting and spending psychology\",\n  \"cryptocurrency and high-risk investing\",\n  \"financial independence and early retirement\",\n];\nconst FRAMINGS = [\n  \"a countdown list, counting down from the highest number to number one, building tension toward the most important point\",\n  \"a countdown list, counting up, where each item escalates in stakes until the final item is the most shocking\",\n  \"a ranked list where the narration briefly explains why each item earned its rank before revealing the next one\",\n  \"a list framed as 'before you do X, know these', where each item is a specific risk or rule\",\n  \"a list framed as a comparison: what poor, middle class, and wealthy people each do differently, item by item\",\n  \"a list framed around real numbers -- each item anchored to a specific dollar amount, percentage, or timeframe that makes it concrete\",\n];\nconst HOOKS = [\n  \"Open with a number or statistic so specific it sounds made up, then reveal it's real.\",\n  \"Open with a direct, slightly confrontational question that challenges what the listener believes about money.\",\n  \"Open by describing a relatable financial mistake or moment, then pivot into the list.\",\n  \"Open with a bold claim that sounds like a myth, then spend the video proving or disproving it.\",\n  \"Open with a 'most people think X, but actually Y' contrast.\",\n  \"Open with an urgent framing -- something the listener needs to know before their next financial decision.\",\n];\n\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nconst angle = pick(ANGLES);\nconst subject = pick(SUBJECTS);\nconst framing = pick(FRAMINGS);\nconst hook = pick(HOOKS);\n\nconst video_prompt = (\n  `Generate a long-form finance narration script (target length: roughly two thousand words maximum — do not exceed two thousand words under any circumstances). ` +\n  `Topic: ${angle}, specifically about ${subject}. ` +\n  `Structure: ${framing}. ` +\n  `${hook} ` +\n\n  `=== NUMBER RULES — ABSOLUTE REQUIREMENTS (CRITICAL FOR ELEVENLABS) === ` +\n  `1. Spell out ALL numbers as words. Never use digits or dollar signs. ` +\n  `   Example: \"one thousand six hundred eighty dollars\" instead of \"$1,680\". ` +\n  `   \"eight percent\" instead of \"8%\". ` +\n  `   \"thirty years\" instead of \"30 years\". ` +\n  `2. Each list item must still contain at least one concrete number, but space them extremely generously. ` +\n  `3. Never put more than ONE number in any single paragraph. ` +\n  `4. Put at least two to three full paragraphs of explanation, stories, implications, or examples between any two numbers. ` +\n  `5. Never repeat the same number anywhere in the script. ` +\n  `6. Total distinct concrete numbers across the whole script should stay reasonable (ideally under 15). ` +\n\n  `=== STRICTLY FORBIDDEN === ` +\n  `- Using any digits or symbols like $ % ` +\n  `- Any sentence or paragraph with two or more numbers ` +\n  `- Chaining numbers even if split by periods ` +\n  `- Dense number sections ` +\n\n  `Clearly signal the start of each new list item naturally in the spoken narration (e.g. \"Number seven is...\" or \"The third biggest mistake...\") so the structure is obvious when heard, but keep it flowing conversationally. ` +\n  `Escalate stakes or importance as the list progresses. ` +\n  `End with a clear, concrete takeaway — the single most important action or insight from the whole list. ` +\n\n  `Tone: confident, direct, conversational but credible — like a sharp finance YouTuber who respects the audience's intelligence. ` +\n  `Output ONLY the spoken narration. No markdown, no bullets, no symbols. ` +\n  `Spelling all numbers as words + generous spacing between them is mandatory for smooth ElevenLabs pacing and accurate captions.`\n);\n\nreturn [{ json: {\n  chatInput: video_prompt,\n  angle: angle,\n  subject: subject,\n  framing: framing,\n  hook: hook\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        944
      ],
      "id": "90b4434f-e88d-42d8-8bd5-2c2bd9a7d9c4",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLhGo3QA985Xt9neFkd6F3_oHdOZllSjoZ",
        "videoId": "={{ $('Upload Video Bytes').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7376,
        656
      ],
      "id": "7121d6e0-81e7-4fd9-a849-65aa1e8df563",
      "name": "Personal Finance 101: Zero to Confident Playlist",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.item.json.output;\n\nwhile (typeof raw === \"string\" && raw.trim().startsWith(\"{\")) {\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed.scene) {\n      raw = parsed.scene;\n    } else {\n      break;\n    }\n  } catch (e) {\n    const match = raw.match(/\"scene\"\\s*:\\s*\"([\\s\\S]+)/);\n    if (match) {\n      raw = match[1]\n        .replace(/\\\\n/g, \"\\n\")\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\"\\s*}?\\s*$/, \"\");\n    }\n    break;\n  }\n}\n\nif (typeof raw === \"object\" && raw !== null && raw.scene) {\n  raw = raw.scene;\n}\n\nif (typeof raw === \"string\") {\n  raw = raw.trim();\n  if (raw.startsWith('\"') && raw.endsWith('\"')) {\n    raw = raw.slice(1, -1).replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n  }\n}\n\nreturn [{ json: { scene: raw } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        848
      ],
      "id": "86a2d81c-e98d-4461-affe-a602ca46086f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{ $('Generate an image1').first().json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6496,
        832
      ],
      "id": "e671b70d-2605-42fb-9089-0d4d3050ad59",
      "name": "Get Thumbnail Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Upload Video Bytes').item.json.body.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6944,
        832
      ],
      "id": "013dd55a-1766-4b69-bd00-d04cb85e2cfc",
      "name": "Set Thumbnail"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6272,
        832
      ],
      "id": "94e9ed84-2f02-426b-b1aa-29450c87abb2",
      "name": "Upload Video Bytes",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "resumable"
            },
            {
              "name": "part",
              "value": "snippet,status"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": {{ JSON.stringify($('Edit Fields').first().json.title) }},\n    \"description\": {{ JSON.stringify($('Edit Fields').first().json.description + \"\\n\\n\" + ($('Check Status').first().json.chapters_text || \"\")) }},\n    \"categoryId\": \"27\",\n    \"tags\": {{ JSON.stringify($('Edit Fields').first().json.tags) }},\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"private\",\n    \"publishAt\": \"{{ $('weekly schedule1').first().json.scheduledDate }}\",\n    \"selfDeclaredMadeForKids\": false,\n    \"containsSyntheticMedia\": false\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6816,
        640
      ],
      "id": "ae103b05-4582-4577-81d3-038804eecdfa",
      "name": "Start Upload",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.1.135:8000/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7008,
        640
      ],
      "id": "8df6449c-f06a-4d3b-a61d-4b5c03f5cd9d",
      "name": "Download Video",
      "notes": "Railway download result: \nhttps://automationforloveniche-production.up.railway.app/download"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6720,
        832
      ],
      "id": "b793481e-a99d-40fb-ab0c-34e68854069a",
      "name": "Download Image",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# [Channel Link](https://youtube.com/)\n\n\n# [Course Sheet if there's any](https://docs.google.com/spreadsheets/)\n\n",
        "height": 816,
        "width": 6160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        448
      ],
      "typeVersion": 1,
      "id": "f1befb4a-bac1-4e94-8b16-6f47cd5e8302",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"title\": {\n            \"type\": \"string\"\n        },\n        \"description\": {\n            \"type\": \"string\"\n        },\n        \"thumbnailPrompt\": {\n            \"type\": \"string\"\n        },\n        \"tags\": {\n            \"type\": \"array\",\n            \"items\": {\n                \"type\": \"string\"\n            }\n        }\n    },\n    \"required\": [\"title\", \"description\", \"thumbnailPrompt\", \"tags\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3328,
        2160
      ],
      "id": "c16872ad-4a24-4d58-9da8-72be955e091a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "randomsci",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Automation_For_Math_Niche",
          "mode": "list",
          "cachedResultName": "Automation_For_Math_Niche",
          "cachedResultUrl": "https://github.com/RandomSci/Automation_For_Math_Niche"
        },
        "filePath": "Audio_Voice/vaults_narration.mp3",
        "binaryData": true,
        "commitMessage": "Math Narration Update",
        "additionalParameters": {
          "author": {
            "name": "randomsci",
            "email": "your-email@example.com"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        4672,
        2176
      ],
      "id": "6c743ed3-2ff0-42c6-aa8b-44d71a11e9a8",
      "name": "Edit a file1",
      "webhookId": "cc48f253-2fbc-471e-ac8a-4d50c20389d8",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "Inxqxgp5toCpBO5k",
          "name": "GitHub account | randomsci"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.135:8000/generate",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4912,
        1856
      ],
      "id": "1f9f8c42-034c-4e14-bc4b-1f8e4993f53a",
      "name": "Trigger Video Generation1",
      "notes": "railway link to generate: \n\nhttps://automationforloveniche-production.up.railway.app/generate"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5072,
        1984
      ],
      "id": "c198d9c1-98bd-4dcd-b9a0-f09b80b5d16e",
      "name": "Wait 60 seconds1",
      "webhookId": "a4ed988a-f721-4e07-821d-e59de8e1d296"
    },
    {
      "parameters": {
        "url": "http://192.168.1.135:8000/status",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5264,
        1968
      ],
      "id": "5be65b75-2f3b-42bb-8312-a49203709370",
      "name": "Check Status1",
      "notes": "Railway Check status: \nhttps://automationforloveniche-production.up.railway.app/status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5488,
        1824
      ],
      "id": "bfe5a2c5-6564-4423-b2e6-81128768d96b",
      "name": "Is Complete?1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5712,
        1968
      ],
      "id": "867a4a1d-be22-437f-8ffd-ad9705b7aa63",
      "name": "Wait & Retry1",
      "webhookId": "18d45443-bfc9-4704-aeb8-de3b9ae3bd12"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        2064
      ],
      "id": "3fe4e463-e7e4-4738-9b85-a213c8e34659",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2464,
        2288
      ],
      "id": "f77a4f51-2870-448d-ad35-c1c0c73db986",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "kVy04pWk6VitOjWI",
          "name": "OpenAi account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3200,
        2160
      ],
      "id": "bf5bec51-eeae-499a-80cc-9401e4bc92a6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "kVy04pWk6VitOjWI",
          "name": "OpenAi account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=chatInput:\n{{ $json.chatInput || $('Code in JavaScript2').first().json.chatInput}}",
        "options": {
          "systemMessage": "You are a math and machine learning narrator writing for YouTube. You sound like someone who genuinely understands this material at a deep level and has watched students hit the same walls for years. You write the way the best math YouTubers talk — precise, intuitive, a little impatient with hand-waving, never condescending. You do not simplify by lying. You simplify by finding the right analogy, the right visual, the right angle that makes the concept click without distorting it. Each paragraph teaches one thing completely: what it is, why it matters, where intuition breaks down, and what the correct mental model actually is. You never pad. You never motivate. You just explain clearly and move on. In the final third of the script, maintain the same direct tone as the opening — do not soften, do not summarize emotionally, do not use phrases like beautiful, elegant, powerful, or life-changing. Finish the way you started: with a concrete point, then stop. You are writing between two thousand and three thousand words. No more than three thousand. No exceptions.\nOUTPUT FORMAT: You must respond with ONLY a valid JSON object in this exact structure, nothing else before or after it:\n{\"scene\": \"your full narration text here\"}\nThe entire narration goes inside the scene value as a single string. Use \\n for paragraph breaks. No markdown outside the JSON. No explanation. Just the JSON object.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        2064
      ],
      "id": "e66449dd-8607-4e47-ab01-322bfb79e629",
      "name": "AI Agent - Video Prompter1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript3').item.json.scene || $('For Trending Topics').first().json['Cusotm Script']}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in creating high-performing YouTube content for a math and machine learning education channel targeting people who want genuine understanding, not textbook explanations.\n\nYour task is to generate four outputs based on the user input, which is a math or machine learning narration script.\n\nYou must deeply understand the script before writing anything.\n\nFirst identify:\n- the exact mathematical, statistical, or machine learning concept\n- the primary misconception\n- the mental model the viewer should replace it with\n- the search intent someone would have before finding this video\n\nReturn ONLY valid JSON with exactly these keys:\n\n\"title\"\n\"description\"\n\"thumbnailPrompt\"\n\"tags\"\n\nDo not output markdown. Do not wrap the JSON in code fences. Do not output explanations or any text outside the JSON.\n\n---\n\n## TITLE RULES\n\nYour primary optimization target, in order:\n\n1. Search intent\n2. Click-through rate\n3. Clarity\n\nAssume the viewer searched YouTube because they wanted to understand this exact concept. The title should be the one that person would most likely click when scanning search results.\n\nDo NOT hide the topic to manufacture curiosity. Curiosity should come from the misconception, the consequence, or the corrected mental model — never from concealing what the video is about.\n\nRules:\n- Maximum 60 characters whenever practical.\n- Mention the actual concept by name, naturally, near the beginning of the title.\n- Reflect the specific content of the script, not a generic topic label.\n- Avoid generic lesson or chapter names (\"Introduction to Probability\", \"Understanding Linear Algebra\").\n- Avoid fake curiosity or exaggerated clickbait.\n- Avoid hedging words like \"can\", \"might\", \"may\" — state things as fact.\n- Avoid repeating the same title pattern across videos. Rotate structures naturally.\n\nDo not overuse any single pattern as a crutch, including:\n- \"Why Your...\"\n- \"Stop Trusting...\"\n- \"Breaking...\"\n- \"...Everyone Gets Wrong\"\n\nThese are fine occasionally when they genuinely fit the script's tension, but should not be the default shape for every title.\n\nPreferred patterns (rotate between these and similar constructions):\n- \"[Concept] Explained: [specific angle or tension]\"\n- \"[Concept A] vs [Concept B] Explained\"\n- \"[Concept] Explained: Why [common belief] Is Wrong\"\n- \"What [Concept] Is Actually Doing\"\n- \"[Concept]: [Corrected mental model as a question or statement]\"\n\nExamples of the target quality bar:\n- \"Mean, Median & Mode Explained: Which Average Should You Trust?\"\n- \"Correlation vs Causation Explained\"\n- \"Histograms Explained: Reading Distributions Correctly\"\n- \"P-Values Explained: Why Significance Isn't Proof\"\n- \"Variance & Standard Deviation Explained\"\n- \"Neural Networks Explained: How They Actually Learn\"\n- \"Word Embeddings Explained: How AI Understands Language\"\n- \"Scatter Plots Explained: Finding Hidden Patterns\"\n- \"What Gradient Descent Is Actually Doing\"\n- \"Why Overfitting Looks Good at First\"\n\nAvoid titles like these (topic-only, no tension, or pure unearned clickbait):\n- \"Statistics: Beyond Averages\"\n- \"Introduction to Probability\"\n- \"Understanding Linear Algebra\"\n- \"Machine Learning Explained\"\n- \"You Won't Believe What Gradient Descent Does\"\n\n---\n\n## DESCRIPTION RULES\n\nWrite a YouTube video description in 2 to 3 sentences max. It must read as a clear reason to watch, not a course summary.\n\nSentence 1: State the exact misconception, mistake, or gap the video fixes. Be specific — name what people get wrong and what goes wrong because of it.\n\nSentence 2: Explain the corrected understanding the viewer will have after watching. What will they see differently? What breaks when they don't know this?\n\nSentence 3 (optional but preferred): End with a direct question inviting a comment about where they personally got stuck or misled.\n\nThe description must:\n- Be plain, clear, and grounded.\n- Name the specific concept from the script.\n- Show what breaks or goes wrong when the concept is misunderstood.\n- Avoid hype, avoid emojis.\n- Avoid vague learning promises like \"learn about\" or \"understand better\".\n- Avoid sounding like a textbook description or course syllabus.\n\nNEVER write:\n- \"This video will...\"\n- \"In this video I will...\"\n- \"This lesson will teach you...\"\n- \"You will learn about...\"\n- \"This video explores...\"\n\nBad description (vague, promise-based, no tension):\n\"Understanding distributions, sample sizes, and inference can help you make sense of complex data instead of relying on misleading averages. Learn the difference that going beyond simple calculations can make.\"\n\nBad description (announces itself instead of stating the point):\n\"Most people view averages as complete representations of their data, oblivious that this simplification can hide significant details. This video will expose the danger of over-simplifying data.\"\n\nGood description:\n\"Most people trust an average without checking the distribution behind it, and that single number hides outliers, skew, and sampling bias that change everything. Once you see the distribution instead of just the center, the average stops being a fact and becomes a question. Where did a summary number steer you wrong?\"\n\n---\n\n## THUMBNAIL RULES\n\nDesign for instant recognition, not shock. The goal is that someone interested in the topic scrolls past and immediately thinks \"oh, that's about P-values\" — not \"what does this text mean?\" Clarity and recognizability are the CTR driver here, not alarm or abstract intrigue.\n\nThe thumbnail text should usually contain either:\n- the exact concept\n- the exact misconception\n- the exact mathematical object\n- the corrected mental model\n\nAvoid abstract emotional hooks that cannot be understood without reading the title. The viewer should understand the topic in less than one second.\n\nText rules:\n- 2 to 3 words maximum, one visible phrase only.\n- Never use the full video title as the thumbnail text.\n- The \"≠\" symbol is a strong default for contrast/misconception concepts — use it when it fits naturally (e.g. \"MEAN ≠ MEDIAN\", \"P ≠ PROOF\", \"R ≠ CAUSE\").\n\nWhen to use little or no text:\nIf the mathematical object itself is visually obvious and instantly recognizable, prefer using almost no thumbnail text — let the visual carry the recognition. Use text only when it immediately strengthens understanding, not as a default habit.\n- P-value → bell curve with highlighted tail, little or no text needed\n- Histogram → skewed histogram alone is recognizable\n- Scatter plot → point cloud alone is recognizable\n- Neural network → node graph alone is recognizable\n- Gradient descent → loss landscape alone is recognizable\n\nGood visible-text examples by topic (use as reference, adapt to the script):\n\nStatistics: \"MEAN ≠ MEDIAN\", \"AVERAGE LIES\", \"P ≠ PROOF\", \"95% ≠ CERTAIN\", \"BIAS DETECTED\", \"R ≠ CAUSE\", \"NORMAL?\", \"SKEWED DATA\", \"REAL SIGNAL\", \"FALSE TREND\", \"BAD SAMPLE\", \"HIDDEN RISK\", \"MORE DATA?\", \"OUTLIER FOUND\", \"NOT RANDOM\"\n\nMachine Learning: \"OVERFITTING\", \"LOSS FALLS\", \"AI LEARNS\", \"WEIGHTS SHIFT\", \"NOT MEMORY\", \"FEATURE SPACE\", \"VECTOR SPACE\", \"WRONG LABEL\", \"BAD MODEL\", \"ATTENTION MAP\", \"HIDDEN LAYER\", \"FALSE PATTERN\"\n\nLinear Algebra: \"SPACE BENDS\", \"FIXED VECTOR\", \"NOT ROTATION\", \"NEW BASIS\", \"AREA SHRINKS\", \"MATRIX POWER\", \"TRUE DIRECTION\", \"LINEAR?\", \"PROJECTION\"\n\nProbability: \"NOT LUCK\", \"ODDS ONLY\", \"FALSE CERTAINTY\", \"RANDOM?\", \"EXPECTED VALUE\", \"TAIL EVENT\", \"LOW PROBABILITY\"\n\nVisual rules:\n- One hero object only. High contrast. No clutter, no paragraphs, no tiny labels, no people or faces.\n- Match color/lighting to the emotional register of the script's core tension:\n  - Misconception, confusion, wrong intuition: deep navy or black, harsh cold light, sharp contrast, red or white accent.\n  - Insight, correct mental model, clarity unlocked: dark navy, gold, warm glow, clean premium lighting.\n  - Transformation, before/after, realization: split scene, one side cold light, one side warm gold, sharp divide.\n- Vary the hero object, color emphasis, and composition across videos — avoid every thumbnail looking like the same template.\n- Avoid generic calculator or chalkboard imagery unless the script specifically calls for it.\n- Hero objects must be concept-specific, never a generic \"glowing chart\":\n  - Mean/Median: three number line markers with one far-away outlier\n  - Variance: two bell curves side by side, one narrow, one wide\n  - Histogram: histogram with obvious skew\n  - Scatter Plot: clustered points with one hidden pattern\n  - Correlation: scatter plot with curved data and a straight regression line cutting through it\n  - P-value: bell curve with a tiny highlighted tail\n  - Confidence Interval: horizontal confidence bar with the true value marked outside it\n  - Sampling Bias: population dots with some dots clearly outside the camera frame\n  - Normal Distribution: a skewed histogram shown beside a perfect bell curve\n  - Neural Network: warped coordinate grid, or glowing node diagram with backprop arrows\n  - Word Embeddings: floating word vectors in 3D space\n  - PCA: a rotating point cloud projected down onto one plane\n  - Gradient Descent: a glowing path rolling downhill across a loss surface\n  - Overfitting: a smooth curve next to a wiggly curve chasing every point\n  - Outliers: a single red dot far outside a tight cluster\n  - Matrices: glowing grid of numbers, determinant shrinking the space, matrix brackets\n  - Eigenvalues: a vector that stays on its own line while the surrounding grid warps around it\n  - Attention mechanism: glowing connection grid between tokens\n\nThe thumbnailPrompt must describe the final image as a physical scene and must include:\n- Exact visible text in quotes\n- Background color and lighting\n- One hero object only\n- The emotional mood (cold/alarming for misconceptions, warm/clear for insight)\n- An explicit instruction: no people, no faces, no extra labels, no small text\n\nThumbnail prompt style examples:\n\"A deep navy studio scene with a glowing 3D loss surface descending to a bright gold minimum point. Huge bold text reads 'LOSS FALLS' in cold white light from above. No people, no faces, no extra labels, no small text.\"\n\n\"A near-black scene with two glowing arrows: one transformed and warped, one unchanged and gold. Huge text reads 'FIXED DIRECTION' with sharp cold blue backlight. No people, no faces, no extra labels, no small text.\"\n\n\"A dark navy scene with a glowing skewed bell curve, a single bright outlier dot far to the right connected to a thin vertical line. Huge white text reads 'AVERAGE LIES' in harsh cold light. No people, no faces, no extra labels, no small text.\"\n\n\"A deep navy scene with a glowing bell curve, the tiny red tail area on the right side lit like an alarm. Huge white text reads 'NOT PROOF' above it. No people, no faces, no extra labels, no small text.\"\n\n---\n\n## TAGS RULES\n\nGenerate a JSON array of 15 to 20 YouTube tags as plain strings, specific to this script's concept — never generic filler, never copy-pasted from a previous video's topic.\n\nInclude a mix of:\n- The exact concept name and its close variants (e.g. \"correlation coefficient\", \"r value statistics\", \"pearson correlation\")\n- The broader topic category it belongs to (e.g. \"statistics basics\", \"descriptive statistics\")\n- Common search phrasings a confused viewer would type (e.g. \"what does r mean in statistics\", \"correlation vs causation explained\")\n- The channel name \"math unlocked\" as one tag\n- Adjacent concepts mentioned or implied in the script (e.g. \"scatter plot analysis\")\n- Skill-level tags where relevant (\"statistics for beginners\", \"beginner linear algebra\")\n\nTags must:\n- Be lowercase unless a term is normally capitalized (e.g. \"R squared\" stays as written)\n- Be 1 to 5 words each\n- Never repeat the exact same tag twice\n- Never include hashtags or the # symbol\n- Never include a tag unrelated to this specific script's content\n\nBad tags array (generic, reused regardless of topic):\n[\"math\", \"learning\", \"education\", \"tutorial\", \"school\", \"college\", \"study tips\"]\n\nGood tags array for a script about the correlation coefficient:\n[\"correlation coefficient\", \"what does r measure\", \"pearson correlation explained\", \"correlation vs causation\", \"scatter plot analysis\", \"statistics basics\", \"r value statistics\", \"linear relationship statistics\", \"statistics for beginners\", \"math unlocked\", \"data literacy\", \"misleading statistics\", \"descriptive statistics\", \"statistics tutorial\", \"understanding correlation\", \"math education\", \"learn statistics\", \"statistical thinking\"]\n\n---\n\n## JSON RULES\n\nReturn only valid JSON.\nExactly these keys: title, description, thumbnailPrompt, tags.\nNo markdown. No extra keys. No commentary. No trailing commas. Escape quotation marks properly inside string values.\nThe title, description, thumbnailPrompt, and tags must all match the same specific script concept.\n\n---\n\n## NEVER USE THESE WORDS OR PHRASES\n\n\"game-changer\"\n\"secret\"\n\"hack\"\n\"mind-blowing\"\n\"you won't believe\"\n\"beautiful\"\n\"elegant\"\n\"powerful\"\n\"life-changing\"\n\"can mislead\" / \"might mislead\" / \"may mislead\"\n\"this video will\"\n\"in this video\"\n\"this lesson will\"\n\"you will learn\"\n\"this video explores\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3200,
        1936
      ],
      "id": "31df66a7-092d-419e-b05a-be5e55a22ac3",
      "name": "AI Agent1",
      "notes": "={{ $('Code in JavaScript3').item.json.scene || $('For Trending Topics').first().json['Cusotm Script']}}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab12cd34-56ef-789a-bcde-f01234567890",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "ed89dcde-32bb-444d-b8ff-710e27e12a7a",
              "name": "description",
              "value": "={{ $json.output.description }}",
              "type": "string"
            },
            {
              "id": "ef90ab12-34cd-ef56-7890-abcdef012345",
              "name": "image_prompt",
              "value": "={{ $json.output.thumbnailPrompt }}",
              "type": "string"
            },
            {
              "id": "d307c240-edd9-44b6-8840-e2ec38a3381b",
              "name": "tags",
              "value": "={{ $json.output.tags }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        1936
      ],
      "id": "c9fadbd5-9ab4-44c4-ab9e-687f63e16ac9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4672,
        1936
      ],
      "id": "da6e6790-2bc7-43a7-848d-fe50d891b4fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.atlascloud.ai/api/v1/model/prediction/{{ $('Generate an image').item.json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        1856
      ],
      "id": "4db7c031-35ea-487b-8f12-66a47cbe3383",
      "name": "HTTP Request - Get Image1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/api/v1/model/generateImage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\":\"openai/gpt-image-2/text-to-image\",\n  \"prompt\":\"{{ $json.image_prompt }}\",\n  \"size\":\"1280x720\",\n  \"quality\":\"medium\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        1936
      ],
      "id": "4215f0f4-a9ba-419a-8ab8-811a6ee7d609",
      "name": "Generate an image",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f42b614-0873-4c9c-8378-c5d3a68b8865",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4448,
        1936
      ],
      "id": "da845b11-b1fa-4b32-82ba-0ebb1129aa8e",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        1936
      ],
      "id": "b2f650d7-b3dd-46b7-b8f7-68723c00f4a7",
      "name": "Wait 30 sec1",
      "webhookId": "9e9c4cf5-ae81-4a15-94fd-5e14812ebad6"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst rows = inputItems.map((item, index) => {\n  return {\n    ...item.json,\n    __inputIndex: index\n  };\n});\n\nfunction getRowPosition(row) {\n  const possibleRowNumbers = [\n    row.row_number,\n    row.rowNumber,\n    row[\"row_number\"],\n    row[\"Row Number\"],\n    row[\"row number\"],\n    row.__rowNumber\n  ];\n\n  for (const value of possibleRowNumbers) {\n    const num = Number(value);\n    if (Number.isFinite(num) && num > 0) {\n      return num;\n    }\n  }\n\n  return row.__inputIndex + 1;\n}\n\nconst pending = rows.filter(r =>\n  String(r.status || \"\").toLowerCase().trim() === \"pending\"\n);\n\nif (pending.length === 0) {\n  throw new Error(\"No pending course topics in the sheet -- add more rows or this run has nothing to do.\");\n}\n\npending.sort((a, b) => {\n  return getRowPosition(a) - getRowPosition(b);\n});\n\nconst next = pending[0];\n\nfunction numberToWords(num) {\n  num = Number(num);\n  if (!Number.isFinite(num)) return \"\";\n  if (num === 0) return \"zero\";\n  if (num < 0) return \"negative \" + numberToWords(Math.abs(num));\n\n  const ones = [\"\",\"one\",\"two\",\"three\",\"four\",\"five\",\"six\",\"seven\",\"eight\",\"nine\",\"ten\",\"eleven\",\"twelve\",\"thirteen\",\"fourteen\",\"fifteen\",\"sixteen\",\"seventeen\",\"eighteen\",\"nineteen\"];\n  const tens = [\"\",\"\",\"twenty\",\"thirty\",\"forty\",\"fifty\",\"sixty\",\"seventy\",\"eighty\",\"ninety\"];\n\n  function underThousand(n) {\n    let words = [];\n\n    if (n >= 100) {\n      words.push(ones[Math.floor(n / 100)]);\n      words.push(\"hundred\");\n      n %= 100;\n    }\n\n    if (n >= 20) {\n      words.push(tens[Math.floor(n / 10)]);\n      n %= 10;\n    }\n\n    if (n > 0) {\n      words.push(ones[n]);\n    }\n\n    return words.join(\" \");\n  }\n\n  const scales = [\n    { value: 1000000000, name: \"billion\" },\n    { value: 1000000, name: \"million\" },\n    { value: 1000, name: \"thousand\" }\n  ];\n\n  let words = [];\n\n  for (const scale of scales) {\n    const count = Math.floor(num / scale.value);\n\n    if (count > 0) {\n      words.push(numberToWords(count));\n      words.push(scale.name);\n      num %= scale.value;\n    }\n  }\n\n  if (num > 0) {\n    words.push(underThousand(num));\n  }\n\n  return words.join(\" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction decimalToWords(rawNumber) {\n  const clean = String(rawNumber).replace(/,/g, \"\").trim();\n\n  if (!clean.includes(\".\")) {\n    return numberToWords(Number(clean));\n  }\n\n  const digitWords = {\n    \"0\": \"zero\",\n    \"1\": \"one\",\n    \"2\": \"two\",\n    \"3\": \"three\",\n    \"4\": \"four\",\n    \"5\": \"five\",\n    \"6\": \"six\",\n    \"7\": \"seven\",\n    \"8\": \"eight\",\n    \"9\": \"nine\"\n  };\n\n  const [wholeRaw, decimalRaw] = clean.split(\".\");\n  const wholeWords = numberToWords(Number(wholeRaw || \"0\"));\n\n  const decimalWords = decimalRaw\n    .split(\"\")\n    .map(d => digitWords[d] || \"\")\n    .filter(Boolean)\n    .join(\" \");\n\n  return `${wholeWords} point ${decimalWords}`.trim();\n}\n\nfunction replaceNumbersInText(text) {\n  return String(text || \"\").replace(/\\$?\\d[\\d,]*(\\.\\d+)?%?/g, match => {\n    const hasDollar = match.includes(\"$\");\n    const hasPercent = match.includes(\"%\");\n    const clean = match.replace(/[$,%]/g, \"\");\n\n    let words = decimalToWords(clean);\n\n    if (hasDollar) words += \" dollars\";\n    if (hasPercent) words += \" percent\";\n\n    return words.trim();\n  });\n}\n\nfunction normalizeMathSpeechText(text) {\n  let value = String(text || \"\");\n\n  value = value.replace(/\\bR\\^2\\b/gi, \"R squared\");\n  value = value.replace(/\\bx\\^2\\b/gi, \"x squared\");\n  value = value.replace(/\\bn\\^2\\b/gi, \"n squared\");\n  value = value.replace(/\\bO\\(n\\^2\\)\\b/gi, \"O of n squared\");\n  value = value.replace(/\\bO\\(n\\s*log\\s*n\\)\\b/gi, \"O of n log n\");\n  value = value.replace(/\\bO\\(n\\)\\b/gi, \"O of n\");\n  value = value.replace(/\\b(\\d+)\\s*x\\s*(\\d+)\\b/g, (_, a, b) => `${numberToWords(Number(a))} by ${numberToWords(Number(b))}`);\n  value = value.replace(/\\b(\\d+)\\s*[-–—]\\s*(\\d+)\\b/g, (_, start, end) => `${numberToWords(start)} to ${numberToWords(end)}`);\n\n  return replaceNumbersInText(value);\n}\n\nconst courseName = normalizeMathSpeechText(next.course_name);\nconst topicTitle = normalizeMathSpeechText(next.topic_title);\nconst sequenceWords = numberToWords(next.sequence_number);\n\nconst sameCourseRows = rows\n  .filter(r =>\n    String(r.course_name || \"\").trim() === String(next.course_name || \"\").trim()\n  )\n  .sort((a, b) => {\n    const seqA = Number(a.sequence_number || 0);\n    const seqB = Number(b.sequence_number || 0);\n\n    if (seqA !== seqB) return seqA - seqB;\n\n    return getRowPosition(a) - getRowPosition(b);\n  });\n\nconst currentCourseIndex = sameCourseRows.findIndex(r => {\n  const sameRow =\n    String(getRowPosition(r)) === String(getRowPosition(next));\n\n  const sameSequence =\n    Number(r.sequence_number || 0) === Number(next.sequence_number || 0);\n\n  return sameRow || sameSequence;\n});\n\nconst followingTopic =\n  currentCourseIndex >= 0\n    ? sameCourseRows[currentCourseIndex + 1]\n    : null;\n\nconst nextTopicTitle = followingTopic\n  ? normalizeMathSpeechText(followingTopic.topic_title)\n  : \"\";\n\nconst ctaInstruction = nextTopicTitle\n  ? `Close with a single sentence that makes the next lesson feel like the unavoidable next step. The next lesson is \"${nextTopicTitle}\". Name it directly and make it sound useful, not like a course announcement.`\n  : `Close with a single sentence inviting the listener to continue the course. Do not invent a next topic.`;\n\nconst video_prompt = `\nWrite a complete spoken math narration for the following topic.\n\nCourse: \"${courseName}\"\nLesson: entry ${sequenceWords}, \"${topicTitle}\"\n\nOutput only the spoken narration. No markdown, no bullets, no headings, no symbols, no digits.\n\nEvery number must be written as spoken words. Every figure, formula reference, and measurement must be written exactly as a human would say it aloud.\n\n==============================\nLENGTH\n==============================\nWrite between one thousand one hundred and one thousand three hundred words maximum.\nDo not exceed one thousand four hundred words under any circumstances.\nThis is a hard limit tied to a downstream text-to-speech character cap -- going over will break audio generation.\nEach paragraph must make one clear point with at least three sentences.\n\n==============================\nHOW TO OPEN\n==============================\n\nThe opening four sentences must follow this exact pattern.\n\nSentence one: a cold statement of a real consequence that happens to people who misunderstand this concept. State it as a fact, not a question, not a setup. Make it specific enough that a student who has struggled with it would recognize it instantly.\n\nGood examples of sentence one:\n\"Most people can calculate an average but have no idea whether that average actually represents the data they are looking at.\"\n\"Building a machine learning model without understanding variance means you will overfit every single time and never know why.\"\n\"The reason matrix multiplication feels arbitrary is that nobody ever showed you what it is actually doing to the space.\"\n\nSentence two: name the exact misconception or gap in understanding that causes the problem in sentence one. Be specific about what people get wrong, not vague.\n\nSentence three: name what is actually happening mathematically because of that misconception, in concrete terms.\n\nSentence four: open a tension loop by describing a situation the viewer can picture themselves in, where the gap from sentence one is quietly causing problems before they notice it.\n\nAfter sentence four, transition into teaching the concept clearly without announcing that you are doing so.\n\n==============================\nHOW TO TEACH\n==============================\n\nTeach the concept directly after the opening four sentences.\n\nUse one concrete real-world example if it makes the concept clearer. One is enough.\n\nShow the most common beginner mistake with this topic.\n\nExplain what the mistake costs in practical terms -- wrong answers, broken models, failed intuition.\n\nGive a correction. Make it specific and actionable.\n\nConnect this concept to the next mathematical idea the viewer will encounter.\n\nVary the approach paragraph by paragraph. Some paragraphs explain. Some show consequences. Some name a mistake. Some give a correction. Some connect to a broader pattern.\n\n==============================\nNUMBER AND FORMULA PACING\n==============================\n\nUse spoken figures only when they make a point more concrete.\nMost lessons need no more than six figures total.\nAfter any paragraph containing a figure, write at least one paragraph with no figure before the next one.\nNever put two figures in the same paragraph.\nNever read out raw formula notation -- translate it into plain spoken language.\n\n==============================\nHOW TO CLOSE\n==============================\n\nThe second to last paragraph summarizes the single most important shift in thinking this lesson creates. No recap of figures. One clear takeaway about intuition or understanding.\n\n${ctaInstruction}\n\n==============================\nSTYLE\n==============================\n\nWrite the way a sharp person who genuinely understands this topic explains it clearly to someone who is struggling with it. Direct. Concrete. No theatrics. No filler phrases. No repeated sentence structure. Vary the rhythm. Some sentences short. Some longer when the idea needs it.\n`.trim();\n\nreturn [\n  {\n    json: {\n      chatInput: video_prompt,\n      course_name: next.course_name,\n      sequence_number: next.sequence_number,\n      topic_title: next.topic_title,\n      row_number: next.row_number || getRowPosition(next),\n      sheet_position: getRowPosition(next),\n      next_topic_title: followingTopic ? followingTopic.topic_title : \"\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        1968
      ],
      "id": "1883fe2c-764e-4d9d-90c0-e65117de0219",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "xKhbyU7E3bC6T89Kn26c",
          "mode": "id"
        },
        "text": "={{ $json.scene || $('For Trending Topics').first().json['Cusotm Script']}}",
        "additionalOptions": {
          "voiceSettings": "{\n  \"stability\": 1,\n  \"similarity_boost\": 0.8,\n  \"style\": 0,\n  \"use_speaker_boost\": false,\n  \"speed\": 1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        2976,
        2064
      ],
      "id": "d24c795f-493a-419d-96bb-6d71e52fac5d",
      "name": "Convert text to speech1",
      "credentials": {
        "elevenLabsApi": {
          "id": "o5M9oX8A5ef1CvyP",
          "name": "ElevenLabs account | Jim"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ANGLES = [\n  \"the visual mechanism that makes the concept stop feeling like magic\",\n  \"the wrong beginner intuition that breaks when the geometry appears\",\n  \"the spatial mental model that makes the whole idea click\",\n  \"the hidden three dimensional structure behind the technical name\",\n  \"the visual transformation that explains what the model is really doing\",\n  \"the moment where a messy space becomes simple because the right geometry appears\",\n  \"the mechanism people name-drop without ever seeing what it does\",\n  \"the part tutorials explain with words when they should be showing space moving\"\n];\n\nconst SUBJECTS = [\n  \"a glowing three dimensional point cloud splits into neighborhoods, showing how embeddings turn meaning into position\",\n  \"two glowing vectors rotate in three dimensional space until their angle reveals why two ideas feel related\",\n  \"a sentence becomes floating word cards in three dimensional space, and each word fires query arrows toward key arrows until the strongest connections light up\",\n  \"one token sends a glowing query vector across a field of key vectors, and the brightest match becomes the path where information flows\",\n  \"a messy three dimensional data cloud rotates until one glowing direction captures most of its shape\",\n  \"a three dimensional point cloud collapses onto a glowing plane, showing why dimensionality reduction is rotation before compression\",\n  \"a warped three dimensional grid stretches every arrow, but one special arrow refuses to change direction\",\n  \"a glowing vector keeps its direction while the entire space bends around it, revealing what an eigenvector really means\",\n  \"random noise particles floating in space slowly organize into structure as a diffusion model removes noise step by step\",\n  \"a glowing point travels through a compressed three dimensional latent space, and the image it represents changes smoothly as it moves\",\n  \"a crumpled glowing surface floats inside a giant empty cube, showing why real data lives on a hidden manifold instead of filling the whole space\",\n  \"a curved surface unfolds into a flatter space while nearby points stay close, showing how a model learns useful coordinates\",\n  \"word vectors form clusters in three dimensional space, and similar ideas pull together while unrelated ideas drift apart\",\n  \"parallel meaning arrows connect word pairs in space, showing why relationships can become directions instead of definitions\",\n  \"a vector rotates around invisible circles, showing how rotary position embeddings turn word order into geometry\",\n  \"token positions spiral through space while their vectors rotate, showing how a model can feel order without counting like a human\",\n  \"a tangled cloud of examples bends into clean separated regions, showing how a neural network reshapes space instead of memorizing labels\",\n  \"a decision boundary slices through a three dimensional point cloud, showing why a model separates patterns instead of understanding them like a person\",\n  \"a cloud of data stretches along one glowing axis while the other directions shrink, showing why variance chooses the useful view\",\n  \"a high dimensional idea gets compressed into three visible axes, revealing what survives and what gets flattened\"\n];\n\nconst FRAMINGS = [\n  \"start from the naive mental picture, show why it fails, then let the three dimensional geometry replace it\",\n  \"begin with the visual scene, explain what each moving object means, then connect it back to the actual math\",\n  \"compare what beginners think is happening with what the space is actually doing\",\n  \"build the idea from points, arrows, surfaces, rotations, projections, or warped grids until the mechanism becomes obvious\",\n  \"treat the explanation like a guided movement through a three dimensional Manim scene that slowly becomes the correct mental model\",\n  \"start with a messy visual object, transform it step by step, then explain why that transformation is the mechanism\",\n  \"show the wrong intuition as a flat picture, then replace it with the three dimensional version that actually explains the concept\",\n  \"make the concept feel physical first, then name the mathematical idea after the viewer can already picture it\"\n];\n\nconst HOOKS = [\n  \"Open with a cold statement about what people misunderstand, then immediately introduce the three dimensional visual object that fixes it.\",\n  \"Open by saying this concept sounds abstract only because people explain it without showing the geometry.\",\n  \"Open with the visual scene first, then reveal what mathematical mechanism the scene represents.\",\n  \"Open with the beginner mistake, then break it using a spatial transformation.\",\n  \"Open by making the viewer realize they know the term but have never seen the mechanism move.\",\n  \"Open with a direct claim that the concept is not magic, it is space moving in a specific way.\",\n  \"Open with the thing most explanations hide, then make the hidden geometry visible.\",\n  \"Open by turning the topic into a moving object: points, arrows, grids, surfaces, clusters, paths, or rotations.\"\n];\n\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\nfunction numberToWords(num) {\n  num = Number(num);\n\n  if (!Number.isFinite(num)) return \"\";\n  if (num === 0) return \"zero\";\n  if (num < 0) return \"negative \" + numberToWords(Math.abs(num));\n\n  const ones = [\n    \"\",\n    \"one\",\n    \"two\",\n    \"three\",\n    \"four\",\n    \"five\",\n    \"six\",\n    \"seven\",\n    \"eight\",\n    \"nine\",\n    \"ten\",\n    \"eleven\",\n    \"twelve\",\n    \"thirteen\",\n    \"fourteen\",\n    \"fifteen\",\n    \"sixteen\",\n    \"seventeen\",\n    \"eighteen\",\n    \"nineteen\"\n  ];\n\n  const tens = [\n    \"\",\n    \"\",\n    \"twenty\",\n    \"thirty\",\n    \"forty\",\n    \"fifty\",\n    \"sixty\",\n    \"seventy\",\n    \"eighty\",\n    \"ninety\"\n  ];\n\n  function underThousand(n) {\n    const words = [];\n\n    if (n >= 100) {\n      words.push(ones[Math.floor(n / 100)]);\n      words.push(\"hundred\");\n      n %= 100;\n    }\n\n    if (n >= 20) {\n      words.push(tens[Math.floor(n / 10)]);\n      n %= 10;\n    }\n\n    if (n > 0) {\n      words.push(ones[n]);\n    }\n\n    return words.join(\" \");\n  }\n\n  const scales = [\n    { value: 1000000000, name: \"billion\" },\n    { value: 1000000, name: \"million\" },\n    { value: 1000, name: \"thousand\" }\n  ];\n\n  const words = [];\n\n  for (const scale of scales) {\n    const count = Math.floor(num / scale.value);\n\n    if (count > 0) {\n      words.push(numberToWords(count));\n      words.push(scale.name);\n      num %= scale.value;\n    }\n  }\n\n  if (num > 0) {\n    words.push(underThousand(num));\n  }\n\n  return words.join(\" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction decimalToWords(rawNumber) {\n  const clean = String(rawNumber).replace(/,/g, \"\").trim();\n\n  if (!clean.includes(\".\")) {\n    return numberToWords(Number(clean));\n  }\n\n  const digitWords = {\n    \"0\": \"zero\",\n    \"1\": \"one\",\n    \"2\": \"two\",\n    \"3\": \"three\",\n    \"4\": \"four\",\n    \"5\": \"five\",\n    \"6\": \"six\",\n    \"7\": \"seven\",\n    \"8\": \"eight\",\n    \"9\": \"nine\"\n  };\n\n  const [wholeRaw, decimalRaw] = clean.split(\".\");\n  const wholeWords = numberToWords(Number(wholeRaw || \"0\"));\n\n  const decimalWords = decimalRaw\n    .split(\"\")\n    .map(d => digitWords[d] || \"\")\n    .filter(Boolean)\n    .join(\" \");\n\n  return `${wholeWords} point ${decimalWords}`.trim();\n}\n\nfunction replaceNumbersInText(text) {\n  return String(text || \"\").replace(/\\$?\\d[\\d,]*(\\.\\d+)?%?/g, match => {\n    const hasDollar = match.includes(\"$\");\n    const hasPercent = match.includes(\"%\");\n    const clean = match.replace(/[$,%]/g, \"\");\n\n    let words = decimalToWords(clean);\n\n    if (hasDollar) words += \" dollars\";\n    if (hasPercent) words += \" percent\";\n\n    return words.trim();\n  });\n}\n\nfunction normalizeMathSpeechText(text) {\n  let value = String(text || \"\");\n\n  value = value.replace(/\\b3D\\b/gi, \"three dimensional\");\n  value = value.replace(/\\b2D\\b/gi, \"two dimensional\");\n\n  value = value.replace(/\\bR\\^2\\b/gi, \"R squared\");\n  value = value.replace(/\\bx\\^2\\b/gi, \"x squared\");\n  value = value.replace(/\\bn\\^2\\b/gi, \"n squared\");\n\n  value = value.replace(/\\bO\\(n\\^2\\)\\b/gi, \"O of n squared\");\n  value = value.replace(/\\bO\\(n\\s*log\\s*n\\)\\b/gi, \"O of n log n\");\n  value = value.replace(/\\bO\\(n\\)\\b/gi, \"O of n\");\n\n  value = value.replace(/\\b(\\d+)\\s*x\\s*(\\d+)\\b/g, (_, a, b) => {\n    return `${numberToWords(Number(a))} by ${numberToWords(Number(b))}`;\n  });\n\n  value = value.replace(/\\b(\\d+)\\s*[-–—]\\s*(\\d+)\\b/g, (_, start, end) => {\n    return `${numberToWords(start)} to ${numberToWords(end)}`;\n  });\n\n  return replaceNumbersInText(value);\n}\n\nconst angle = pick(ANGLES);\nconst subject = normalizeMathSpeechText(pick(SUBJECTS));\nconst framing = pick(FRAMINGS);\nconst hook = pick(HOOKS);\n\nconst video_prompt = `\nWrite a complete spoken math and machine learning narration for a Manim three dimensional visual explainer.\n\nVisual topic:\n\"${subject}\"\n\nAngle:\n${angle}\n\nStructure:\n${framing}\n\nOpening style:\n${hook}\n\nOutput only the spoken narration. No markdown, no bullets, no headings, no symbols, no digits.\n\nEvery number must be written as spoken words. Every figure, formula reference, and measurement must be written exactly as a human would say it aloud.\n\n==============================\nLENGTH\n==============================\nWrite between one thousand one hundred and one thousand three hundred words.\nDo not write fewer than one thousand words.\nDo not exceed one thousand four hundred words under any circumstances.\nThis is a hard limit tied to a downstream text-to-speech character cap -- going over will break audio generation.\n\nThis is words, not characters.\nThis is words, not characters.\nThis is words, not characters.\n\nThis is a long-form narration.\nDo not write a short summary.\nDo not compress the explanation into a few paragraphs.\n\nWrite at least eight paragraphs.\nEach paragraph must make one clear point with at least three sentences.\n\n==============================\nCORE REQUIREMENT\n==============================\n\nThis script must obviously imply Manim three dimensional visuals.\n\nThe narration must not sound like a normal abstract lesson that could be rendered as flat text.\n\nThe visual topic is already a moving three dimensional scene. Keep returning to that scene throughout the explanation.\n\nEvery major paragraph must include at least one visible spatial object or visible motion when it is accurate:\npoints,\narrows,\nvectors,\naxes,\nangle arcs,\ngrids,\nplanes,\nsurfaces,\nclouds,\nclusters,\npaths,\nrotations,\nprojections,\nconnections,\ntransformations,\nor glowing regions in space.\n\nDo not describe ordinary real-world scenes like people walking, classrooms, parks, offices, rooms, faces, or characters.\n\nThis is not cinematic storytelling.\nThis is mathematical geometry made visible.\n\n==============================\nHOW TO OPEN\n==============================\n\nThe opening four sentences must follow this exact pattern.\n\nSentence one:\nState the misconception or weak mental model that makes this concept confusing. State it as a fact, not a question.\n\nSentence two:\nImmediately introduce the visual object from the topic, using three dimensional spatial language.\n\nSentence three:\nName what the moving objects represent mathematically or mechanically.\n\nSentence four:\nOpen a tension loop by describing what changes in the scene when the correct mechanism starts working.\n\nAfter sentence four, transition into teaching the concept clearly without announcing that you are doing so.\n\nGood opening examples:\n\n\"Embeddings feel mysterious because most explanations describe meaning without showing where that meaning lives. Imagine a glowing cloud of points floating in space, where related ideas drift close together and unrelated ideas move apart. Each point is not a definition, it is a position the model can compare. Once the cloud starts forming neighborhoods, meaning stops sounding magical and starts looking like geometry.\"\n\n\"Attention sounds vague when people explain it as focus. A better picture is a field of floating word cards, each sending arrows toward the others and lighting up the paths that matter most. Those arrows represent query and key comparisons, not human attention. When the strongest paths brighten, information starts flowing through the sentence instead of sitting in isolated words.\"\n\n\"PCA feels like deleting information because beginners picture data as a spreadsheet losing columns. The better picture is a three dimensional cloud rotating until one glowing direction catches most of its shape. The method is not throwing space away at random, it is choosing the view where the cloud spreads the most. Once that direction appears, compression starts looking like rotation before reduction.\"\n\n==============================\nHOW TO TEACH\n==============================\n\nTeach the concept directly after the opening four sentences.\n\nUse the visual topic as the backbone of the whole narration.\n\nDo not turn the narration into technical scene directions.\nDo not say \"show this on screen.\"\nDo not say \"the animation should.\"\nDo not write Manim code.\n\nInstead, explain the concept in visual language so the renderer can infer the three dimensional scene naturally.\n\nThe explanation must do all of the following:\n\nName the naive mental model.\nShow why that mental model fails.\nBuild the correct spatial model.\nExplain what each visible object represents.\nExplain the real mathematical or machine learning mechanism.\nUse one concrete example if it makes the concept clearer.\nConnect the visual motion back to what the model is actually doing.\nEnd with a practical mental model the viewer can keep.\n\nVary the approach paragraph by paragraph.\nSome paragraphs explain.\nSome build intuition.\nSome correct a mistake.\nSome describe the visual transformation.\nSome connect the geometry back to the actual mechanism.\n\n==============================\nVISUAL DISCIPLINE\n==============================\n\nPrefer visual language that creates real Manim objects:\n\na point cloud rotating in space,\ntwo vectors closing their angle,\na grid stretching under a transformation,\na surface folding or unfolding,\ntokens connected by glowing paths,\na plane slicing through a cloud,\na projection dropping points onto a surface,\nclusters separating into neighborhoods,\nan arrow staying fixed while space bends,\na path moving through latent space,\nnoise particles becoming structure,\naxes rotating toward useful directions.\n\nDo not fake literal three dimensional meaning where it would be inaccurate.\n\nWhen discussing high-dimensional space, treat the three dimensional scene as an honest visual analogy.\nMake clear through phrasing that the visible space is a simplified picture of a deeper geometry.\n\nAvoid flat-script language.\nAvoid generic textbook narration.\nAvoid long abstract paragraphs with no visible object.\nAvoid explaining only definitions.\nAvoid explaining only history.\nAvoid explaining only applications.\n\n==============================\nNUMBER AND FORMULA PACING\n==============================\n\nUse spoken figures only when they make a point more concrete.\nMost lessons need no more than six figures total.\nAfter any paragraph containing a figure, write at least one paragraph with no figure before the next one.\nNever put two figures in the same paragraph.\nNever read out raw formula notation. Translate it into plain spoken language.\n\n==============================\nHOW TO CLOSE\n==============================\n\nThe second to last paragraph summarizes the single most important shift in thinking this video creates. No recap of figures. One clear takeaway about geometry, intuition, or mechanism.\n\nThe final paragraph must land the visual mechanism from the video. Do not introduce a new topic. Do not point to a next lesson. Do not sound like a course announcement. End with the clearest mental picture the viewer should keep.\n\n==============================\nSTYLE\n==============================\n\nWrite the way a sharp person who genuinely understands the topic explains it to someone who almost gets it but keeps missing the picture.\n\nDirect.\nConcrete.\nVisual.\nPrecise.\nNo theatrics.\nNo filler.\nNo generic motivational ending.\nNo textbook voice.\nNo ordinary cinematic scene.\nNo characters.\nNo people.\nNo fake drama.\n\nThe goal is not to cover everything.\nThe goal is to make the mechanism click so strongly that the viewer can picture the three dimensional scene.\n`.trim();\n\nreturn [\n  {\n    json: {\n      chatInput: video_prompt,\n      angle: angle,\n      subject: subject,\n      framing: framing,\n      hook: hook,\n      target_words_minimum: 1000,\n      target_words_ideal_low: 1100,\n      target_words_ideal_high: 1300,\n      target_words_maximum: 1400,\n      visual_mode: \"manim_three_dimensional\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2160
      ],
      "id": "877198cd-8666-4a57-af2b-99472bd59546",
      "name": "Prompt Builder1"
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.item.json.output;\n\nwhile (typeof raw === \"string\" && raw.trim().startsWith(\"{\")) {\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed.scene) {\n      raw = parsed.scene;\n    } else {\n      break;\n    }\n  } catch (e) {\n    const match = raw.match(/\"scene\"\\s*:\\s*\"([\\s\\S]+)/);\n    if (match) {\n      raw = match[1]\n        .replace(/\\\\n/g, \"\\n\")\n        .replace(/\\\\\"/g, '\"')\n        .replace(/\"\\s*}?\\s*$/, \"\");\n    }\n    break;\n  }\n}\n\nif (typeof raw === \"object\" && raw !== null && raw.scene) {\n  raw = raw.scene;\n}\n\nif (typeof raw === \"string\") {\n  raw = raw.trim();\n  if (raw.startsWith('\"') && raw.endsWith('\"')) {\n    raw = raw.slice(1, -1).replace(/\\\\n/g, \"\\n\").replace(/\\\\\"/g, '\"');\n  }\n}\n\nreturn [{ json: { scene: raw } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        2064
      ],
      "id": "1d08a389-8153-403a-8802-e38a426c82e6",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6384,
        1952
      ],
      "id": "f2d22370-3b26-4307-b943-6cd53cfefef8",
      "name": "Upload Video Bytes1",
      "executeOnce": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "resumable"
            },
            {
              "name": "part",
              "value": "snippet,status"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": {{ JSON.stringify($('Edit Fields1').first().json.title) }},\n    \"description\": {{ JSON.stringify($('Edit Fields1').first().json.description + \"\\n\\n\" + ($('Check Status1').first().json.chapters_text || \"\")) }},\n    \"categoryId\": \"27\",\n    \"tags\": {{ JSON.stringify($('Edit Fields1').first().json.tags) }},\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"private\",\n    \"publishAt\": \"{{ $('weekly schedule').first().json.scheduledDate }}\",\n    \"selfDeclaredMadeForKids\": false,\n    \"containsSyntheticMedia\": false\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6000,
        1952
      ],
      "id": "7988e45b-f0ae-426b-bced-140220d3fa82",
      "name": "Start Upload1",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "# [Channel Link](https://youtube.com/)\n\n\n# [Course Sheet if there's any](https://docs.google.com/spreadsheets/)",
        "height": 1344,
        "width": 6160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        1312
      ],
      "typeVersion": 1,
      "id": "64867189-b9da-49e1-832b-022657565aba",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4",
          "mode": "list",
          "cachedResultName": "Math Unlocked",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        1968
      ],
      "id": "f4e8830d-b516-4148-b59f-6cf51ec29d78",
      "name": "Math Unlocked Course",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jl5qgNTdM9DGXfgZ",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4",
          "mode": "list",
          "cachedResultName": "Math Unlocked",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17G1LQAQlGxqbyaRBb9Vi3X_JoeJjV6gcLdXWeGUYvb4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_title": "={{ $json.topic_title }}",
            "status": "done"
          },
          "matchingColumns": [
            "topic_title"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "course_name",
              "displayName": "course_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sequence_number",
              "displayName": "sequence_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "topic_title",
              "displayName": "topic_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        1968
      ],
      "id": "41faf087-92a7-4e5d-b4ef-67927eaa448b",
      "name": "Math Unlocked Course Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jl5qgNTdM9DGXfgZ",
          "name": "Google Sheets account | selwyn@selwynbuilds.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLOSuC7Eaoc7w",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        1344
      ],
      "id": "60bca93c-f461-40fa-b2d1-ff137d8f0b76",
      "name": "Statistics from Scratch",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      },
      "notes": "={{ $('Upload Video Bytes1').item.json.body.id }}"
    },
    {
      "parameters": {
        "url": "http://192.168.1.135:8000/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6192,
        1744
      ],
      "id": "125cb165-268f-4279-a791-f97440043d5e",
      "name": "Download Video For Math Unlocked",
      "executeOnce": true,
      "notes": "Railway download result: \nhttps://automationforloveniche-production.up.railway.app/download"
    },
    {
      "parameters": {
        "url": "={{ $('Generate an image').first().json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ATLAS_CLOUD_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6576,
        1728
      ],
      "id": "8bf2cce4-0010-4a70-b7e6-39343cde2fd7",
      "name": "Get Thumbnail Image For Math Unlocked",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6736,
        1968
      ],
      "id": "654b6aac-1b0a-4a53-8604-a9fcf9bab59f",
      "name": "Download Image For Math Unlocked",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $('Upload Video Bytes1').item.json.body.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6880,
        1744
      ],
      "id": "3e621e3f-7a64-40ff-936d-a519595ac4a7",
      "name": "Set Thumbnail For Math Unlocked"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLKmei85G5bUE",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        1520
      ],
      "id": "0bff0265-a2ba-45fd-8457-507494092154",
      "name": "Linear Algebra Visually",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "Statistics from Scratch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3bc15c05-36e0-4cf2-8dcc-ddb05f248cde"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d02dd515-349b-426f-a661-618beca13b6e",
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "Linear Algebra Visually",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4fdba855-8db1-40d9-af94-7b29c0d32df4",
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "Calculus Intuition",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "161ab02c-4858-4b6d-b7b8-f8be629ce328",
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "Neural Networks from Zero",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be506b52-f9ad-4edf-9aa4-f5cbd0d0871f",
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "PyTorch in Practice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4172774e-05eb-4d3b-b528-58816fd3800b",
                    "leftValue": "={{ (() => {\n  try {\n    const courseName = $('Code in JavaScript2').first().json.course_name;\n    if (courseName) return courseName;\n  } catch (e) {}\n\n  try {\n    const visualMode = $('Prompt Builder1').first().json.visual_mode;\n    if (visualMode) return visualMode;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
                    "rightValue": "Transformers Explained",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da3e6bcf-85f4-4ed6-9e92-14dc4eed4e07",
                    "leftValue": "={{ (() => {   try {     const courseName = $('Code in JavaScript2').first().json.course_name;     if (courseName) return courseName;   } catch (e) {}    try {     const visualMode = $('Prompt Builder1').first().json.visual_mode;     if (visualMode) return visualMode;   } catch (e) {}    return \"\"; })() }}",
                    "rightValue": "manim_three_dimensional",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        7056,
        1792
      ],
      "id": "6e942c18-19bb-41f2-a571-6643a1229b04",
      "name": "Playlists Routing"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLYlu9iyYvV_A",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        1696
      ],
      "id": "82ecaa11-ebf2-452b-a623-9e37944815ab",
      "name": "Calculus Intuition",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLH6NIaBnSovQ",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        1872
      ],
      "id": "22531677-699d-4005-95d8-86b7f8c058d3",
      "name": "Neural Networks from Zero",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLV-n-1V5P0cA",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        2064
      ],
      "id": "fc032cb2-d47a-4bdd-a33a-47a0a60467fa",
      "name": "PyTorch in Practice",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLaA7_ot8QaoY",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        2256
      ],
      "id": "6937f7e7-df41-475e-ac37-119864ba82e2",
      "name": "Transformers Explained",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1984,
        848
      ],
      "id": "b68e4943-6acb-42cc-ba08-b5f254a5bb51",
      "name": "When clicking ‘Execute workflow’ | Finance Reality Check"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1504,
        1968
      ],
      "id": "be3d475b-acd1-4fe3-8e0e-bbb75cd006cd",
      "name": "For Math Unlocked Courses"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1952,
        2160
      ],
      "id": "9bfca089-6847-4c4d-bec3-2a37657a08f6",
      "name": "Random For Math Unlocked"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1984,
        1040
      ],
      "id": "e4c75f0f-f6d9-430e-acd6-2e8b6a22a798",
      "name": "Random For Finance Reality Check"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5712,
        1744
      ],
      "id": "bbd071a5-4d36-4030-bd06-c660c3ae8247",
      "name": "Get many videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videos = $input.all();\nlet latestDate = null;\n\nfor (const item of videos) {\n  const candidates = [\n    item.json.status?.publishAt,\n    item.json.snippet?.publishTime,\n    item.json.snippet?.publishedAt,\n  ].filter(Boolean);\n\n  for (const pt of candidates) {\n    const d = new Date(pt);\n    if (!isNaN(d) && (!latestDate || d > latestDate)) {\n      latestDate = d;\n    }\n  }\n}\n\nif (!latestDate) {\n  latestDate = new Date();\n}\n\n// Find next Tuesday or Friday from latest date\nconst next = new Date(latestDate);\nnext.setUTCHours(16, 0, 0, 0); // 12am PH = 4pm UTC\n\nconst day = next.getUTCDay();\nlet daysToAdd;\nif (day === 2) {\n  daysToAdd = 3; // Tuesday to Friday\n} else if (day === 5) {\n  daysToAdd = 4; // Friday to Tuesday\n} else {\n  const daysToTue = (2 - day + 7) % 7 || 7;\n  const daysToFri = (5 - day + 7) % 7 || 7;\n  daysToAdd = Math.min(daysToTue, daysToFri);\n}\nnext.setDate(next.getDate() + daysToAdd);\n\n// Safety: never schedule in the past or onto the same slot as latestDate\nconst now = new Date();\nwhile (next <= now || next.getTime() === latestDate.getTime()) {\n  next.setDate(next.getDate() + (next.getUTCDay() === 2 ? 3 : 4));\n}\n\nconst scheduledDate = next.toISOString();\nreturn [{ json: { scheduledDate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        1744
      ],
      "id": "fb4be2ea-1c55-48bf-aacb-7e09058e57f2",
      "name": "weekly schedule"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLOSuC7Eaoc7w",
        "videoId": "={{ $('Upload Video Bytes1').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7392,
        2464
      ],
      "id": "f64138c2-151e-47f1-a827-5196cdebb77b",
      "name": "Math in Motion",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea427f1d-173d-4b97-abb1-8a48826e6522",
              "name": "Cusotm Script",
              "value": "Picture ten arrows fired at a target. Nine of them miss wide. One clips the edge of the bullseye. Guess which arrow gets photographed for the poster.\nThat single photograph is what most people mean when they say \"the best.\" Not the nine misses. Just the one shot that happened to land, framed so carefully it looks inevitable.\nThis happens constantly with the announcements you scroll past every week. A chart shows up. One bar towers over all the others. A headline declares a new leader. And the number looks so large, so official, that agreeing with it feels like the only reasonable thing to do.\nBut a leaderboard number is not a fact sitting quietly in the world, waiting to be discovered. It is a measurement, taken once, under one specific set of conditions, using one specific set of questions someone else chose for you. And the moment you treat a measurement as a fact, you inherit every flaw hiding inside how it was measured.\nStart with the test itself. Somebody wrote it. A few hundred questions, maybe a few thousand, built around one person's assumptions about what skill even looks like. Change the questions and you change who wins. A system trained to handle exactly that flavor of question can look untouchable on the test and still fall apart the instant reality asks something five degrees to the left of it.\nPicture a smooth curve drawn cleanly through the middle of a cluster of dots. That curve captured the pattern. Now picture a second curve, jagged and frantic, twisting up and down to touch every single dot exactly, missing nothing, perfect on paper. That second curve did not learn the pattern. It memorized the noise. Statisticians have a word for it. Overfitting. And a leaderboard win can be the jagged curve wearing the smooth curve's reputation.\nNow for the part nobody puts in the headline. If a system runs against ten different tests and wins only one of them, which result do you think gets the press release? Not dishonesty exactly. Just human nature, dressed up as evidence. You are being shown the one tall bar. You are never shown the nine short ones standing quietly behind it, out of frame, unphotographed.\nSo before the next tall bar convinces you of anything, ask it three questions.\nHow many cases built this result? Twenty examples proves almost nothing. The margin of error swallows the whole claim. Ten thousand examples starts to mean something, but only if the questions were chosen fairly to begin with.\nWho is grading, and who chose the test? A team scoring its own work on a test it wrote itself is not the same thing as a stranger checking your work with rules you never saw coming.\nAnd has anyone else reproduced it? Not repeated the announcement. Reproduced the result, on ground the system was never shown in advance.\nNone of this makes every measurement worthless. Real evidence exists, and it is genuinely powerful when you know how to read it. The mistake was never paying attention to the number. The mistake is letting one number, from one test, chosen by one interested party, stand in for the whole truth.\nSo here's the real question, and it isn't really about leaderboards at all. Somewhere in your own life, a single impressive number talked you into a conclusion you never actually checked. A test score. A rating. A statistic someone quoted with total confidence. Where was it, and did you ever go back and ask what was standing just outside the frame?\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        1824
      ],
      "id": "5ffbedde-8735-4927-8223-4cf9d9d67c05",
      "name": "For Trending Topics"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2416,
        1776
      ],
      "id": "0d597878-8495-4ae4-bfeb-4cf7839b1f87",
      "name": "For Math Unlocked Custom Scripts"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        6400,
        640
      ],
      "id": "46cfe034-434c-48b5-adbe-d49ecddd8b01",
      "name": "Get many videos1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videos = $input.all();\nlet latestDate = null;\n\nfor (const item of videos) {\n  const candidates = [\n    item.json.status?.publishAt,\n    item.json.snippet?.publishTime,\n    item.json.snippet?.publishedAt,\n  ].filter(Boolean);\n\n  for (const pt of candidates) {\n    const d = new Date(pt);\n    if (!isNaN(d) && (!latestDate || d > latestDate)) {\n      latestDate = d;\n    }\n  }\n}\n\nif (!latestDate) {\n  latestDate = new Date();\n}\n\n// Find next Tuesday or Friday from latest date\nconst next = new Date(latestDate);\nnext.setUTCHours(16, 0, 0, 0); // 12am PH = 4pm UTC\n\nconst day = next.getUTCDay();\nlet daysToAdd;\nif (day === 2) {\n  daysToAdd = 3; // Tuesday to Friday\n} else if (day === 5) {\n  daysToAdd = 4; // Friday to Tuesday\n} else {\n  const daysToTue = (2 - day + 7) % 7 || 7;\n  const daysToFri = (5 - day + 7) % 7 || 7;\n  daysToAdd = Math.min(daysToTue, daysToFri);\n}\nnext.setDate(next.getDate() + daysToAdd);\n\n// Safety: never schedule in the past or onto the same slot as latestDate\nconst now = new Date();\nwhile (next <= now || next.getTime() === latestDate.getTime()) {\n  next.setDate(next.getDate() + (next.getUTCDay() === 2 ? 3 : 4));\n}\n\nconst scheduledDate = next.toISOString();\nreturn [{ json: { scheduledDate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6608,
        640
      ],
      "id": "e948281d-b2ff-459a-9ac2-13c7de05710c",
      "name": "weekly schedule1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Financial Reality Check Course').item.json.row_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e0115dc3-397c-48a2-b971-625f8d02378a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4da8ce8-5916-48c2-8974-ee305905e1ec",
                    "leftValue": "={{ $('Financial Reality Check Course').item.json.row_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        7152,
        832
      ],
      "id": "14abb421-45ac-4738-a106-6e24b6d28145",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "PLhGo3QA985XudwLiooFhwnLET_aT1uZRE",
        "videoId": "={{ $('Upload Video Bytes').item.json.body.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        7376,
        912
      ],
      "id": "c5496266-96d1-4cd4-a403-a693ef5bbbdd",
      "name": "Financial Reality Checks",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "foEeSuijTtnQXz8K",
          "name": "YouTube account | selwynjaymegwapo@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger Video Generation": {
      "main": [
        [
          {
            "node": "Wait 60 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 seconds": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Get many videos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Trigger Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Wait 30 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 sec": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Financial Course": {
      "main": [
        [
          {
            "node": "Financial Reality Check Course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Financial Reality Check Course Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Reality Check Course": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Reality Check Course Update": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thumbnail Image": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Thumbnail": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video Bytes": {
      "main": [
        [
          {
            "node": "Get Thumbnail Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Upload": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video Bytes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Set Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger Video Generation1": {
      "main": [
        [
          {
            "node": "Wait 60 seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 seconds1": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Is Complete?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?1": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry1": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Trigger Video Generation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Video Prompter1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Video Prompter1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Image1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Wait 30 sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 sec1": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Math Unlocked Course Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech1": {
      "main": [
        [
          {
            "node": "Edit a file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder1": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video Bytes1": {
      "main": [
        [
          {
            "node": "Get Thumbnail Image For Math Unlocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Upload1": {
      "main": [
        [
          {
            "node": "Download Video For Math Unlocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math Unlocked Course": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math Unlocked Course Update": {
      "main": [
        [
          {
            "node": "AI Agent - Video Prompter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video For Math Unlocked": {
      "main": [
        [
          {
            "node": "Upload Video Bytes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thumbnail Image For Math Unlocked": {
      "main": [
        [
          {
            "node": "Download Image For Math Unlocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image For Math Unlocked": {
      "main": [
        [
          {
            "node": "Set Thumbnail For Math Unlocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Thumbnail For Math Unlocked": {
      "main": [
        [
          {
            "node": "Playlists Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playlists Routing": {
      "main": [
        [
          {
            "node": "Statistics from Scratch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linear Algebra Visually",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculus Intuition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neural Networks from Zero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PyTorch in Practice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transformers Explained",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Math in Motion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’ | Finance Reality Check": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Math Unlocked Courses": {
      "main": [
        [
          {
            "node": "Math Unlocked Course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random For Math Unlocked": {
      "main": [
        [
          {
            "node": "Prompt Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random For Finance Reality Check": {
      "main": [
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "weekly schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "weekly schedule": {
      "main": [
        [
          {
            "node": "Start Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Trending Topics": {
      "main": [
        [
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Math Unlocked Custom Scripts": {
      "main": [
        [
          {
            "node": "For Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos1": {
      "main": [
        [
          {
            "node": "weekly schedule1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "weekly schedule1": {
      "main": [
        [
          {
            "node": "Start Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Personal Finance 101: Zero to Confident Playlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Financial Reality Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "23cfc212-c7d7-492e-a153-34941c6b6382",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50f485fc4b4c75a4f0d7dc1609e68642c60a7932f40dbae048dcb3798bc1c1e7"
  },
  "id": "xNhMmaNfhX4RYVSe",
  "tags": []
}